body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;    
}



img{
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 100vh;
}

#container{
    position: relative;
    background-color: #000000;
}



.title{
    color: bisque;
    position: absolute;
    border-bottom: solid 2px bisque;
    top: 0%;
    left:52%;
    transform: translateX(-15%);
    font-size: 30px;
    font-weight: bold;
}

p{
    color: bisque;
    font-size: 15px;
    font-weight: bold;
}

.contact{
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    float: right;
    left: 75%;
    top: 50%;
    transform: translate(-70%,-50%);
}

.inputs{
    width: 400px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    border-bottom:2px solid rgb(0, 0, 0) ;
    color: #000000;
    outline-style: none;
    margin-bottom: 30px;
}

.inputs:hover{
    padding: 10px;
    padding-right: 100px;
  
}

.send{
    background-color: bisque;
    padding: 10px 50px 10px 50px;
    color: #000000;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 110px;
    cursor: pointer;
}

  @media screen and (max-width:600px){

    img{
        width: 390px;
    }

    .contact{
        width: 270px;
        top: 55% ;
        left: 65%;
        position: absolute;
        margin: auto;
        float: none;
        background-color: rgba(51, 79, 103, 0.588);
        border-radius: 10px;
        padding: 10px;
    }

    .title{
        font-size: 24px;
        border-radius: 10px;
        position: absolute;
        top: 1%;
        left: 25%;
        
    }

    p{
        margin-left: 10px;
        font-size: 20px;
    }

    .inputs{
        width:200px ;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius:10px ;
    }

    .inputs:hover{
        padding: 20px;
        margin-left:0 ;
    }
    
    .send{
        border-radius: 10px;
        margin-left: 45px;
        cursor: pointer;
        margin-top: 10px;
    }


  }

